@charset "UTF-8";
/*Обнуляющие стили*/
/*Очистим все отступы и границы*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*Убираем линии обводки некоторых браузеров*/
:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/*задаем блочными теги Html5*/
nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  /* font-family: "Lato", sans-serif; */
  height: 100%;
  width: 100%;
  line-height: 30px;
  font-size: 20px;
  color: #1e1744;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/*задаем наследование шрифтов*/
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  /* color: #292929; */
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
}

@media (min-width: 992px) {
  .container {
    max-width: 1200px;
    padding: 0 40px;
    margin: 0 auto;
  }
  h2 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 75px;
    color: #000000;
  }
  span {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 75px;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    color: #145855;
  }
  h3 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    /* identical to box height */
    color: #282A30;
  }
  p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 50px;
    /* identical to box height */
    color: #145855;
  }
  .slider__text {
    margin-right: 7.1%;
    margin-top: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .slider h2 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 75px;
    color: #000000;
  }
  .slider span {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 75px;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    color: #145855;
  }
  .slider p {
    margin: 5% 0;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    /* or 250% */
    color: #000000;
  }
  .slider__button {
    margin-top: 5%;
    -ms-flex-item-align: start;
        align-self: flex-start;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    /* identical to box height */
    color: #145855;
    border: 2px solid #145855;
    padding: 2% 10%;
    border-radius: 30px;
  }
  .slider__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 10%;
  }
  .slider__content img {
    width: 100%;
  }
  .slider p {
    display: none;
  }
  .slider .show {
    display: block;
  }
  .modal__content h2 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 75px;
    color: #000000;
    margin-top: 5%;
  }
  .modal__content ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .modal__content li {
    margin: 5% 0;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 20px;
    /* or 250% */
    color: #000000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0.5rem;
  }
  .modal__content img {
    width: 150px;
    height: 150px;
    margin-right: 0.5rem;
  }
  .modal__close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .tab__menu {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    text-transform: capitalize;
    color: #000000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
    margin-bottom: 5%;
  }
  .tab__item {
    margin-right: 5%;
  }
  .tab__item a {
    display: block;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 30px;
    border-radius: 0.25rem;
    -webkit-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
  }
  .tab__item a:hover {
    background-color: #f5f5f5;
  }
  .tab__item a.active {
    background-color: #007bff;
    color: #fff;
  }
  .flower-list li {
    width: calc(33.33% - 1rem);
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 991px;
    padding: 0 40px;
    margin: 0 auto;
  }
  h2 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 55px;
    color: #000000;
  }
  span {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 75px;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    color: #145855;
  }
  h3 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 30px;
    /* identical to box height */
    color: #282A30;
  }
  p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    color: #145855;
  }
  .tab__menu {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    text-transform: capitalize;
    color: #000000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
    margin-bottom: 5%;
  }
  .tab__item {
    margin-right: 3%;
  }
  .slider__text {
    margin-right: 7.1%;
    margin-top: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .slider h2 {
    margin-bottom: 5%;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    color: #000000;
  }
  .slider span {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    color: #145855;
  }
  .slider p {
    margin: 10% 0;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    /* or 250% */
    color: #000000;
  }
  .slider__button {
    -ms-flex-item-align: start;
        align-self: flex-start;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    color: #145855;
    border: 2px solid #145855;
    padding: 2% 10%;
    border-radius: 30px;
  }
  .slider__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 5%;
  }
  .slider__content img {
    width: 40%;
  }
  .slider p {
    display: none;
  }
  .slider .show {
    display: block;
  }
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 9999;
  }
  .modal--visible {
    display: block;
  }
  .modal__content {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  .modal__content h2 {
    margin-top: 0;
    font-size: 30px;
  }
  .modal__content ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .modal__content li {
    margin: 5% 0;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    /* or 250% */
    color: #000000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0.5rem;
  }
  .modal__content .modal__close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .flower-list li {
    width: calc(33.33% - 1rem);
  }
}
@media (min-width: 551px) and (max-width: 767px) {
  .container {
    max-width: 767px;
    padding: 0 40px;
    margin: 0 auto;
  }
  h2 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 45px;
    color: #000000;
  }
  span {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 45px;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    color: #145855;
  }
  h3 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    color: #282A30;
  }
  p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    color: #145855;
  }
  .slider__text {
    margin-top: 10%;
    margin-right: 7.1%;
  }
  .slider h2 {
    margin-bottom: 10%;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    color: #000000;
  }
  .slider span {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    color: #145855;
  }
  .slider p {
    margin: 10% 0;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 10px;
    /* or 250% */
    color: #000000;
  }
  .slider__button {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 27px;
    /* identical to box height */
    color: #145855;
    border: 2px solid #145855;
    padding: 2% 10%;
    border-radius: 30px;
  }
  .slider__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 15%;
  }
  .slider__content img {
    width: 40%;
  }
  .slider p {
    display: none;
  }
  .slider .show {
    display: block;
  }
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 9999;
  }
  .modal--visible {
    display: block;
  }
  .modal__content {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  .modal__content h2 {
    margin-top: 0;
  }
  .modal__content ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .modal__content li {
    margin: 5% 0;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 20px;
    /* or 250% */
    color: #000000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0.5rem;
  }
  .modal__content .modal__close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .tab__menu {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 27px;
    /* identical to box height */
    text-transform: capitalize;
    color: #000000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-right: 5%;
    width: 100%;
  }
  .tab__menu .tab__item {
    margin-right: 5%;
  }
  .tab__menu .tab__item a {
    padding: 0%;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .flower-list li {
    width: calc(33.33% - 1rem);
  }
}
@media (max-width: 550px) {
  .container {
    max-width: 550px;
  }
  h2 {
    text-align: center;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
    color: #000000;
  }
  span {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 35px;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    color: #145855;
  }
  h3 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    color: #282A30;
  }
  p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    color: #145855;
  }
  .slider__text {
    margin-top: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .slider h2 {
    text-align: center;
    margin-bottom: 0;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 35px;
    color: #000000;
  }
  .slider span {
    text-align: center;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 35px;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    color: #145855;
  }
  .slider p {
    text-align: center;
    margin: 5% 0;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 10px;
    /* or 250% */
    color: #000000;
  }
  .slider__button {
    margin-top: 5%;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 27px;
    /* identical to box height */
    color: #145855;
    border: 2px solid #145855;
    padding: 2% 10%;
    border-radius: 30px;
    margin-bottom: 5%;
  }
  .slider__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .slider__content img {
    width: 100%;
  }
  .slider p {
    display: none;
  }
  .slider .show {
    display: block;
  }
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 9999;
  }
  .modal--visible {
    display: block;
  }
  .modal__content {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  .modal__content h2 {
    margin-top: 0;
  }
  .modal__content ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .modal__content li {
    margin: 5% 0;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 20px;
    /* or 250% */
    color: #000000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0.5rem;
  }
  .modal__content .modal__close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .tab {
    border-top: 1px solid #ccc;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .tab__menu {
    -ms-flex-item-align: center;
        align-self: center;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    text-transform: capitalize;
    color: #000000;
  }
  .flower-list {
    margin-top: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .flower-list ul {
    display: inline-block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .flower-list li {
    width: 100%;
    display: inline-block;
    -ms-flex-item-align: center;
        align-self: center;
  }
}
.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  color: rgb(0, 0, 0);
}
.navbar__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
}
.navbar__logo i {
  margin-right: 0.5rem;
}
.navbar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
@media (max-width: 768px) {
  .navbar__menu {
    display: none;
  }
}
.navbar__menu li {
  margin-right: 1rem;
}
.navbar__menu li a {
  text-decoration: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 75px;
  color: #000000;
}
.navbar__menu li a:hover {
  text-decoration: underline;
}
.navbar .burger {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .navbar .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.navbar .burger__line {
  width: 100%;
  height: 2px;
  background-color: #333;
}

.navbar__menu-items {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 999;
}
@media (max-width: 768px) {
  .navbar__menu-items {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 75px;
    left: 0;
    width: 100%;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
}
.navbar__menu-items.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 75px;
  left: 0;
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.navbar__menu-items li {
  margin: 0;
}
.navbar__menu-items li a {
  display: block;
  padding: 1rem;
  color: #333;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
}
.navbar__menu-items li a:hover {
  background-color: #f2f2f2;
}

.tab {
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #ccc;
}
.tab__pane {
  display: none;
}
.tab__pane.active {
  display: block;
}
.tab .tab__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}
.tab .tab__menu .tab__item a {
  display: block;
  text-decoration: none;
  color: #333;
  border-radius: 0.25rem;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}
.tab .tab__menu .tab__item a:hover {
  background-color: #f5f5f5;
}
.tab .tab__menu .tab__item a.active {
  background-color: #007bff;
  color: #fff;
}
.tab .tab__content {
  display: none;
}
.tab .tab__content.active {
  display: block;
}

.flower-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  padding: 0;
}
.flower-list li {
  -ms-flex-item-align: center;
      align-self: center;
  margin-bottom: 1rem;
  margin-right: 1%;
  background-color: #f5f5f5;
  border-radius: 0.25rem;
  -webkit-box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
}
.flower-list li img {
  width: 100%;
  height: auto;
  border-radius: 0.25rem;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 9999;
}
.modal--visible {
  display: block;
}
.modal__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.slider-container {
  position: relative;
  margin: auto;
}

.slider__item {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 0px;
  color: rgb(32, 17, 17);
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}