@media (min-width: 551px) and (max-width: 767px) {
    .container {
        max-width: 767px;
        padding: 0 40px;
        margin: 0 auto;
    }

    h2 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 45px;

        color: #000000;
    }

    span {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 45px;
        text-decoration-line: underline;

        color: #145855;
    }

    h3 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        /* identical to box height */


        color: #282A30;
    }

    p {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        /* identical to box height */


        color: #145855;
    }

    .slider {
        &__text {
            margin-top: 10%;
            margin-right: 7.1%;
        }

        h2 {
            margin-bottom: 10%;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 30px;
            line-height: 45px;

            color: #000000;
        }

        span {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 30px;
            line-height: 45px;
            text-decoration-line: underline;

            color: #145855;
        }

        p {
            margin: 10% 0;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 8px;
            line-height: 10px;
            /* or 250% */


            color: #000000;
        }

        &__button {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            line-height: 27px;
            /* identical to box height */
            color: #145855;

            border: 2px solid #145855;
            padding: 2% 10%;
            border-radius: 30px;
        }

        &__content {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            img {
                width: 40%;
            }

            margin: 15%;
        }

        p {
            display: none;
        }

        .show {
            display: block;
        }
    }

    .modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
        z-index: 9999;

        &--visible {
            display: block;
        }

        &__content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

            h2 {
                margin-top: 0;
            }

            ul {
                list-style: none;
                margin: 0;
                padding: 0;
            }


            li {
                margin: 5% 0;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 26px;
                line-height: 20px;
                /* or 250% */


                color: #000000;
                display: flex;
                align-items: center;
                margin-bottom: 0.5rem;
            }

            .modal__close {
                position: absolute;
                top: 10px;
                right: 10px;
                font-size: 24px;
                background-color: transparent;
                border: none;
                cursor: pointer;
            }
        }
    }

    .tab {

        &__menu {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 300;
            font-size: 15px;
            line-height: 27px;
            /* identical to box height */

            text-transform: capitalize;

            color: #000000;
            display: flex;
            justify-content: flex-start;
            margin-right: 5%;
            width: 100%;

            .tab__item {
                margin-right: 5%;

                a {
                    padding: 0%;
                    width: fit-content;
                }
            }
        }

    }

    .flower-list {
        li {
            width: calc(33.33% - 1rem);
        }
    }

}